#results {
  display: none;
}

.btn-info {
  background-color: #e68a00;
}

body {
  background-color: #4d4d00;
  text-align: center;
}

h1 {
  color: #e68a00;
}

#doctorForm {
  color: #e68a00;
}

p {
color: #e68a00;
}

h3 {
 color: #cccc00;
}

#info {
color:  #b3b300;
}
